/*
BLUE: rgba(0, 120, 200, 1)
RED: rgba(215, 10, 45, 1)
*/
@import url(https://fonts.googleapis.com/css?family=Lato:400);
html, body {
    margin: 0px;
    padding: 0px;
    background-image: url(../img/background.jpg);
}
a {
	text-decoration: none;
	color: blue;
}
a:visited {
	text-decoration: none;
	color:blue;
}
button {
    outline: none;
}
hr {
    display:block; 
	border:0px solid transparent; 
	border-top:3px solid rgba(215, 10, 45, 1);
	transition: width 300ms ease-out, opacity 200ms ease-out;
	transform: translate3d(0px, 0px, 0);
}
::selection {
    background-color: rgba(215, 10, 45, 1);
    color: white;
}
.navMain {
    position: fixed;
    top: 0px;
    left: 0px;
    transform: translate3d(-250px, 0px, 0px);
    transition: transform 300ms ease-out;
    width: 250px;
    max-width: 90%;
    height: 100%;
    display: block;
    background-color: rgba(175, 175, 175, 0.8);
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
    z-index:10;
}
.navMainLinks {
    width: 100%;
    height: auto;
}
.navHr {
    width: 20%;
}
.navMainLinks > button {
    width: auto;
    max-width: 90%;
    border: 0px;
    background-color: rgba(0,120,200, 0.7);
    font-family: Lato;
    font-size: 25px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    margin: 10px 0px 10px 0px;
}
.NHSLogo {
    width: 100%;
}
.header {
    width:100%;
    height: 50px;
    background-color: rgb(215, 10, 45);
    position: fixed;
    overflow: hidden;
    z-index: 9;
}
.headerSpacing {
    padding-top: 50px
}
.openMenu {
    border: 0px;
    height: 50px;
    width: 50px;
    padding: 0px 5px 0px 5px;
    background-color: rgb(0,120,200);
    cursor: pointer;
    float:left;
}
.openMenu > .bar {
    width: 100%;
    height: 10%;
    margin: 15% 0% 15% 0%;
    background-color: black;
}
.cover {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    display:none;
    background-color: transparent;
    transition: background-color 300ms ease-out;
    z-index: 9;
}
.backToTop {
    position: fixed;
    left: calc(100% - 100px);
    top: calc(100% - 100px);
    height: 80px;
    width: 80px;
    background-color: rgba(215, 10, 45, 1);
    z-index: 8;
    border:0px;
    padding:10px;
    font-family: Lato;
    font-size:100%;
    cursor: pointer;
    display: none;
}
.content {
    width: 90%;
    position: relative;
    top: 10px;
    left: 5%;
    background-color: rgba(0,120,200, .3);
    text-align: center;
    font-family: Lato;
    font-weight: 400;
}
.yearbookSection {
    overflow: auto;
}
.yearbookSlide {
    width: 100%;
}
.yearbookSlide > img {
    width: 80%;
    max-width: 300px;
    margin: 10px;
}
.yearbookButtons {
    width: calc(100% - 20px);
    margin: 10px;
}
.yearbookButton, .seasonLink {
    width: 90%;
    max-width: 400px;
    font-family: Lato;
    font-weight: 400;
    font-size: 40px;
    border: 0px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: rgba(0,120,200, .8);
    transition: background-color 150ms ease-out;
}
.seasonLink {
    width: 90%;
    max-width: 300px;
    background-color: rgba(215, 10, 45, .8);
}
.seasonLink:hover {
    background-color: rgba(0,120,200, 1);
}
.yearbookButton:hover {
    background-color: rgba(215, 10, 45, 1);
}